aiohttp
aiosignal
anyio
apiclient
async-timeout
attrs
bcrypt
beautifulsoup4
cachetools
certifi
cffi
charset-normalizer
click
colorama
discord
discord.py
et-xmlfile
fastapi
frozenlist
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
googleapis-common-protos
greenlet
h11
httplib2
idna
lxml
multidict
oauth2client
openpyxl
peewee
protobuf
pyasn1
pyasn1-modules
pycparser
pycryptodome
pydantic
PyJWT
pylint-peewee
PyMySQL
pyparsing
python-dateutil
python-dotenv
requests
rsa
six
sniffio
soupsieve
SQLAlchemy
starlette
typing-extensions
uritemplate
urllib3
uvicorn
watchdog
yarl

